#static-variable-ruleset ~ [data-ice="description"] code {
  font-family: serif;
  background: #f5f5f5;
  padding: 2px 4px 0;
}

li > code {
  background: #f5f5f5;
}

[data-ice="description"] ul {
  margin-bottom: 15px;
}
